## **ChEMBL Database**

We need to install the ChEMBL web service package to get bioactivity dataset from the ChEMBL Database.

In [1]:
! pip install chembl_webresource_client

Collecting chembl_webresource_client
  Downloading https://files.pythonhosted.org/packages/e5/c9/a909331598965376ba15a9e5dbe02b5a007172c0726e6cd56424f558b236/chembl-webresource-client-0.10.4.tar.gz (51kB)
     |████████████████████████████████| 61kB 5.0MB/s
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from chembl_webresource_client) (1.24.3)
Requirement already satisfied: requests>=2.18.4 in /usr/local/lib/python3.7/dist-packages (from chembl_webresource_client) (2.23.0)
Collecting requests-cache>=0.6.0
  Downloading https://files.pythonhosted.org/packages/1d/a1/3062a791c433212c98a7dd2e510913bccd09e8d216d7da273f44736ae7c7/requests_cache-0.6.4-py2.py3-none-any.whl
Requirement already satisfied: easydict in /usr/local/lib/python3.7/dist-packages (from chembl_webresource_client) (1.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->chembl_webresource_client) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->chembl_webresource_client) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.18.4->chembl_webresource_client) (2021.5.30)
Collecting url-normalize>=1.4
  Downloading https://files.pythonhosted.org/packages/65/1c/6c6f408be78692fc850006a2b6dea37c2b8592892534e09996e401efc74b/url_normalize-1.4.3-py2.py3-none-any.whl
Requirement already satisfied: itsdangerous in /usr/local/lib/python3.7/dist-packages (from requests-cache>=0.6.0->chembl_webresource_client) (1.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from url-normalize>=1.4->requests-cache>=0.6.0->chembl_webresource_client) (1.15.0)
Building wheels for collected packages: chembl-webresource-client
  Building wheel for chembl-webresource-client (setup.py) ... done
  Created wheel for chembl-webresource-client: filename=chembl_webresource_client-0.10.4-cp37-none-any.whl size=55663 sha256=bb043b53b934cd894f0f86c6b1164196d4b0587869be02976f975bc3213529f5
  Stored in directory: /root/.cache/pip/wheels/98/4c/16/bdb2ef9c937173e56b04d71fc1a6f98f0ff24992ae2e35daf3
Successfully built chembl-webresource-client
Installing collected packages: url-normalize, requests-cache, chembl-webresource-client
Successfully installed chembl-webresource-client-0.10.4 requests-cache-0.6.4 url-normalize-1.4.3

In [2]:
# Import required libraries
import pandas as pd
from chembl_webresource_client.new_client import new_client

## **Searching for Target protein**

### **Target search for coronavirus**

In [3]:
# Target search for coronavirus
targetsearch = new_client.target
queryfortaget = targetsearch.search('coronavirus')
target =pd.DataFrame.from_dict(queryfortaget)
target

# We can get the same results from website https://www.ebi.ac.uk/chembl/

                                    cross_references  ...   tax_id
0                                                 []  ...    11119
1                                                 []  ...   227859
2                                                 []  ...    12663
3                                                 []  ...    11137
4  [{'xref_id': 'P0C6U8', 'xref_name': None, 'xre...  ...   227859
5                                                 []  ...  1335626
6  [{'xref_id': 'P0C6X7', 'xref_name': None, 'xre...  ...   227859
7                                                 []  ...  2697049

[8 rows x 9 columns]

We will use the first protein

### **Select and retrieve bioactivity data for *SARS coronavirus 3C-like proteinase* (fifth entry "Index number 4")**

We will assign the fifth entry (which corresponds to the target protein, *coronavirus 3C-like proteinase*) to the ***selected_target*** variable

In [4]:
target_chosen = target.target_chembl_id[4]
target_chosen

# the results is unique number for our target

'CHEMBL3927'

In [5]:
# bioactivity data for coronavirus 3C-like proteinase (CHEMBL3927) that are reported as IC 50  values in nM (nanomolar) unit.
Filter_V = new_client.activity
Filter_IC50 = Filter_V.filter(target_chembl_id= target_chosen).filter(standard_type="IC50")

In [6]:
df = pd.DataFrame.from_dict(Filter_IC50)

In [7]:
Filter_IC50

[{'activity_comment': None, 'activity_id': 1480935, 'activity_properties': [], 'assay_chembl_id': 'CHEMBL829584', 'assay_description': 'In vitro inhibitory concentration against SARS coronavirus main protease (SARS CoV 3C-like protease)', 'assay_type': 'B', 'assay_variant_accession': None, 'assay_variant_mutation': None, 'bao_endpoint': 'BAO_0000190', 'bao_format': 'BAO_0000357', 'bao_label': 'single protein format', 'canonical_smiles': 'Cc1noc(C)c1CN1C(=O)C(=O)c2cc(C#N)ccc21', 'data_validity_comment': None, 'data_validity_description': None, 'document_chembl_id': 'CHEMBL1139624', 'document_journal': 'Bioorg. Med. Chem. Lett.', 'document_year': 2005, 'ligand_efficiency': {'bei': '18.28', 'le': '0.33', 'lle': '3.25', 'sei': '5.90'}, 'molecule_chembl_id': 'CHEMBL187579', 'molecule_pref_name': None, 'parent_molecule_chembl_id': 'CHEMBL187579', 'pchembl_value': '5.14', 'potential_duplicate': False, 'qudt_units': 'http://www.openphacts.org/units/Nanomolar', 'record_id': 384103, 'relation': '=', 'src_id': 1, 'standard_flag': True, 'standard_relation': '=', 'standard_text_value': None, 'standard_type': 'IC50', 'standard_units': 'nM', 'standard_upper_value': None, 'standard_value': '7200.0', 'target_chembl_id': 'CHEMBL3927', 'target_organism': 'SARS coronavirus', 'target_pref_name': 'SARS coronavirus 3C-like proteinase', 'target_tax_id': '227859', 'text_value': None, 'toid': None, 'type': 'IC50', 'units': 'uM', 'uo_units': 'UO_0000065', 'upper_value': None, 'value': '7.2'}, {'activity_comment': None, 'activity_id': 1480936, 'activity_properties': [], 'assay_chembl_id': 'CHEMBL829584', 'assay_description': 'In vitro inhibitory concentration against SARS coronavirus main protease (SARS CoV 3C-like protease)', 'assay_type': 'B', 'assay_variant_accession': None, 'assay_variant_mutation': None, 'bao_endpoint': 'BAO_0000190', 'bao_format': 'BAO_0000357', 'bao_label': 'single protein format', 'canonical_smiles': 'O=C1C(=O)N(Cc2ccc(F)cc2Cl)c2ccc(I)cc21', 'data_validity_comment': None, 'data_validity_description': None, 'document_chembl_id': 'CHEMBL1139624', 'document_journal': 'Bioorg. Med. Chem. Lett.', 'document_year': 2005, 'ligand_efficiency': {'bei': '12.10', 'le': '0.33', 'lle': '1.22', 'sei': '13.45'}, 'molecule_chembl_id': 'CHEMBL188487', 'molecule_pref_name': None, 'parent_molecule_chembl_id': 'CHEMBL188487', 'pchembl_value': '5.03', 'potential_duplicate': False, 'qudt_units': 'http://www.openphacts.org/units/Nanomolar', 'record_id': 383984, 'relation': '=', 'src_id': 1, 'standard_flag': True, 'standard_relation': '=', 'standard_text_value': None, 'standard_type': 'IC50', 'standard_units': 'nM', 'standard_upper_value': None, 'standard_value': '9400.0', 'target_chembl_id': 'CHEMBL3927', 'target_organism': 'SARS coronavirus', 'target_pref_name': 'SARS coronavirus 3C-like proteinase', 'target_tax_id': '227859', 'text_value': None, 'toid': None, 'type': 'IC50', 'units': 'uM', 'uo_units': 'UO_0000065', 'upper_value': None, 'value': '9.4'}, {'activity_comment': None, 'activity_id': 1481061, 'activity_properties': [], 'assay_chembl_id': 'CHEMBL830868', 'assay_description': 'In vitro inhibitory concentration against SARS coronavirus main protease (SARS CoV 3C-like protease) at 20 uM', 'assay_type': 'B', 'assay_variant_accession': None, 'assay_variant_mutation': None, 'bao_endpoint': 'BAO_0000190', 'bao_format': 'BAO_0000357', 'bao_label': 'single protein format', 'canonical_smiles': 'O=C1C(=O)N(CC2COc3ccccc3O2)c2ccc(I)cc21', 'data_validity_comment': None, 'data_validity_description': None, 'document_chembl_id': 'CHEMBL1139624', 'document_journal': 'Bioorg. Med. Chem. Lett.', 'document_year': 2005, 'ligand_efficiency': {'bei': '11.56', 'le': '0.29', 'lle': '2.21', 'sei': '8.72'}, 'molecule_chembl_id': 'CHEMBL185698', 'molecule_pref_name': None, 'parent_molecule_chembl_id': 'CHEMBL185698', 'pchembl_value': '4.87', 'potential_duplicate': False, 'qudt_units': 'http://www.openphacts.org/units/Nanomolar', 'record_id': 384106, 'relation': '=', 'src_id': 1, 'standard_flag': True, 'standard_relation': '=', 'standard_text_value': None, 'standard_type': 'IC50', 'standard_units': 'nM', 'standard_upper_value': None, 'standard_value': '13500.0', 'target_chembl_id': 'CHEMBL3927', 'target_organism': 'SARS coronavirus', 'target_pref_name': 'SARS coronavirus 3C-like proteinase', 'target_tax_id': '227859', 'text_value': None, 'toid': None, 'type': 'IC50', 'units': 'uM', 'uo_units': 'UO_0000065', 'upper_value': None, 'value': '13.5'}, {'activity_comment': None, 'activity_id': 1481065, 'activity_properties': [], 'assay_chembl_id': 'CHEMBL829584', 'assay_description': 'In vitro inhibitory concentration against SARS coronavirus main protease (SARS CoV 3C-like protease)', 'assay_type': 'B', 'assay_variant_accession': None, 'assay_variant_mutation': None, 'bao_endpoint': 'BAO_0000190', 'bao_format': 'BAO_0000357', 'bao_label': 'single protein format', 'canonical_smiles': 'O=C1C(=O)N(Cc2cc3ccccc3s2)c2ccccc21', 'data_validity_comment': None, 'data_validity_description': None, 'document_chembl_id': 'CHEMBL1139624', 'document_journal': 'Bioorg. Med. Chem. Lett.', 'document_year': 2005, 'ligand_efficiency': {'bei': '16.64', 'le': '0.32', 'lle': '1.25', 'sei': '13.06'}, 'molecule_chembl_id': 'CHEMBL426082', 'molecule_pref_name': None, 'parent_molecule_chembl_id': 'CHEMBL426082', 'pchembl_value': '4.88', 'potential_duplicate': False, 'qudt_units': 'http://www.openphacts.org/units/Nanomolar', 'record_id': 384075, 'relation': '=', 'src_id': 1, 'standard_flag': True, 'standard_relation': '=', 'standard_text_value': None, 'standard_type': 'IC50', 'standard_units': 'nM', 'standard_upper_value': None, 'standard_value': '13110.0', 'target_chembl_id': 'CHEMBL3927', 'target_organism': 'SARS coronavirus', 'target_pref_name': 'SARS coronavirus 3C-like proteinase', 'target_tax_id': '227859', 'text_value': None, 'toid': None, 'type': 'IC50', 'units': 'uM', 'uo_units': 'UO_0000065', 'upper_value': None, 'value': '13.11'}, '...(remaining elements truncated)...']

In [8]:
df.head()

  activity_comment  activity_id  ... upper_value  value
0             None      1480935  ...        None    7.2
1             None      1480936  ...        None    9.4
2             None      1481061  ...        None   13.5
3             None      1481065  ...        None  13.11
4             None      1481066  ...        None    2.0

[5 rows x 45 columns]

In [9]:
df.to_csv('bioactivity_data_raw.csv', index=False)

In [10]:
df.standard_type.unique()

array(['IC50'], dtype=object)

## **Checking missing data**
If any compounds has missing value for the **standard_value** column then drop it

In [11]:
df.standard_value.isnull().sum()

# No missig data

0

In [ ]:
# df2 = df[df.standard_value.notna()]
# df2

## **Data pre-processing of the bioactivity data**

Preparing data to ML (Classifers)

### **Labeling compounds as either being active, inactive or intermediate**
The bioactivity data is in the IC50 unit. Compounds having values of less than 1000 nM will be considered to be **active** while those greater than 10,000 nM will be considered to be **inactive**. As for those values in between 1,000 and 10,000 nM will be referred to as **intermediate**.

In [12]:
bioactivity_class = []

for  A in df.standard_value:
  if float(A)>= 10000:
    bioactivity_class.append('inactive')
  elif float(A)<=1000:
    bioactivity_class.append("active")
  else: 
    bioactivity_class.append("intermediate")

In [14]:
bioactivity_class

['intermediate',
 'intermediate',
 'inactive',
 'inactive',
 'intermediate',
 'active',
 'intermediate',
 'active',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'active',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'intermediate',
 'inactive',
 'inactive',
 'intermediate',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'active',
 'intermediate',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'intermediate',
 'intermediate',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'active',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'intermediate',
 'inactive',
 'intermediate',
 'active',
 'intermediate',
 'intermediate',
 'inactive',
 'inactive',
 'inactive',
 'active',
 'intermediate',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive',
 'inactive']

### **Creating new DataFrame annd include molecule_chembl_id,canonical_smiles,standard_value and bioactivity_class**

In [20]:
# selection = ['molecule_chembl_id','canonical_smiles','standard_value']
# df3 = df2[selection]
# df3

# bioactivity_class = pd.Series(bioactivity_class, name='bioactivity_class')
# df4 = pd.concat([df3, bioactivity_class], axis=1)
# df4

0

In [15]:
selection = df[['molecule_chembl_id','canonical_smiles','standard_value']]
selection

    molecule_chembl_id  ... standard_value
0         CHEMBL187579  ...         7200.0
1         CHEMBL188487  ...         9400.0
2         CHEMBL185698  ...        13500.0
3         CHEMBL426082  ...        13110.0
4         CHEMBL187717  ...         2000.0
..                 ...  ...            ...
128      CHEMBL2146517  ...        10600.0
129       CHEMBL187460  ...        10100.0
130       CHEMBL363535  ...        11500.0
131       CHEMBL227075  ...        10700.0
132        CHEMBL45830  ...        78900.0

[133 rows x 3 columns]

In [19]:
T= pd.DataFrame.from_dict(bioactivity_class)
T

                0
0    intermediate
1    intermediate
2        inactive
3        inactive
4    intermediate
..            ...
128      inactive
129      inactive
130      inactive
131      inactive
132      inactive

[133 rows x 1 columns]

In [21]:
# mergedStuff = pd.merge(selection, T, how='inner')
# mergedStuff

New_Df= selection.join(T)
New_Df

    molecule_chembl_id  ...             0
0         CHEMBL187579  ...  intermediate
1         CHEMBL188487  ...  intermediate
2         CHEMBL185698  ...      inactive
3         CHEMBL426082  ...      inactive
4         CHEMBL187717  ...  intermediate
..                 ...  ...           ...
128      CHEMBL2146517  ...      inactive
129       CHEMBL187460  ...      inactive
130       CHEMBL363535  ...      inactive
131       CHEMBL227075  ...      inactive
132        CHEMBL45830  ...      inactive

[133 rows x 4 columns]

In [26]:
# New_Df= pd.concat([selection, T], axis=1)

In [22]:
New_Df.columns.values[3] = "bioactivity_class"
New_Df

    molecule_chembl_id  ... bioactivity_class
0         CHEMBL187579  ...      intermediate
1         CHEMBL188487  ...      intermediate
2         CHEMBL185698  ...          inactive
3         CHEMBL426082  ...          inactive
4         CHEMBL187717  ...      intermediate
..                 ...  ...               ...
128      CHEMBL2146517  ...          inactive
129       CHEMBL187460  ...          inactive
130       CHEMBL363535  ...          inactive
131       CHEMBL227075  ...          inactive
132        CHEMBL45830  ...          inactive

[133 rows x 4 columns]

In [23]:
New_Df.to_csv('bioactivity_data_preprocessed.csv', index=False)

In [26]:
! ls -l

total 88
-rw-r--r-- 1 root root 10578 Jun 15 14:20 bioactivity_data_preprocessed.csv
-rw-r--r-- 1 root root 70334 Jun 15 14:08 bioactivity_data_raw.csv
drwxr-xr-x 1 root root  4096 Jun  1 13:40 sample_data